html
  head
    script(src='https://code.jquery.com/jquery-2.2.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='./public/index.js')
    link(rel='stylesheet', href='./public/style.css')
    title= title
  body
    ul(class='pages')
      li(class='chat page')
        div(class='chatArea')
         h3(class='playerUsername')
          ul(class='messages')
            li(class='wordItem')
              
        input(class='inputMessage' placeholder='get ready...')
      li(class='ready page')
        div(class='form')
          h3(class='title') typist royale
          input(class='nickname' placeholder="what's your name?")
          button(class='buttonReady') ready
